.table-responsive
  %table
    %thead
      %tr
        %th= tm(OrderStatus, :id)
        %th= tm(OrderStatus, :name)
        %th= tm(OrderStatus, :color)
        %th

    %tbody#order-statuses-list
      - order_statuses.each do |order_status|
        = render partial: '/order_statuses/item', locals: { order_status: order_status }