%br
#form-custom-fields
  .text-muted.custom-fields-title= tm(CustomField, :title)

  - custom_fields.each_slice(2) do |fields|
    .row
      - if fields.size == 1
        .col-md-12
          = render partial: '/custom_fields/custom_field_input', locals: { field: fields.first, model: model }
      - else
        - fields.each do |field|
          .col-md-6
            = render partial: '/custom_fields/custom_field_input', locals: { field: field, model: model }