.modal.fade#custom-fields-modal
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %h4.modal-title
        %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", "type" => "button" }
          %span{"aria-hidden" => "true"}= g_icon(:close)
      .modal-body
        
        = link_to new_modal_custom_fields_path(entity: @entity), remote: true, class: 'btn btn-primary' do
          Добавить поле

        #custom_fields_table= render partial: 'custom_fields_table', locals: { custom_fields: @custom_fields }

      .modal-footer
        %button.btn.btn-default.pull-right{"data-dismiss" => "modal", :type => "button"}= tgm(:close)