%tr.interaction-row{ data: { interaction_id: interaction.id } }
  - columns.each do |column|
    %td{ data: { column_key: column[:key], position: column[:position] } }
      - if column[:key] == :interaction_status_id
        = color_badge(interaction.interaction_status&.name, interaction.interaction_status&.color)
      - else
        = interaction.table_value(column[:key])

  %td.static-position
    = link_to interaction_path(interaction), method: :delete, class: 'text-danger', data: { confirm: tgm(:are_you_sure) }, remote: true do
      = g_icon(:delete, 'sm-g-icon')