%tr.client-row{ data: { client_id: client.id } }
  - columns.each do |column|
    %td{ data: { column_key: column[:key], position: column[:position] } }
      = client.table_value(column[:key])

  %td.static-position
    = link_to client_path(client), method: :delete, class: 'text-danger', data: { confirm: tgm(:are_you_sure) }, remote: true do
      = g_icon(:delete, 'sm-g-icon')