.table-responsive
  %table.table-position-editor{ data: { entity: entity } }
    %thead
      %tr
        - columns.each do |column|
          %th{ class: column[:key] == :id ? 'text-center' : '', style: column[:visible] ? 'display: table-cell;' : 'display: none;', data: { column_key: column[:key], position: column[:position] } }
            .flex.align-center{ style: "gap: 2px;" }
              = column[:label]
              -# - if column[:custom]
              -#   %span.custom-field-badge{ data: { tooltip: tgm(:custom_field) } }= fa_icon('info-circle')
            -# .flex.align-center{ style: "gap: 5px;" }
            -#   = g_icon(:compare_arrows, 'change-column-position-icons')
            -#   = column[:label]
        %th.text-center.static-position{ colspan: 3 }
          = render partial: '/table_settings/change_column_poistion_btn'

    %tbody#clients-list
      - if clients
        - clients.each do |client|
          = render partial: 'item', locals: { client: client, columns: columns }

