.modal.fade#order-modal
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", "type" => "button" }
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title
      .modal-body
        = render partial: '/orders/form'

      
      .modal-footer
        %button.btn.btn-default.pull-left{"data-dismiss" => "modal", :type => "button"}= tgm(:cancel)
        %button.btn.btn-primary.pull-right{:type => "submit", form: ''}= tgm(:save)