.table-responsive
  %table.table-position-editor{ data: { entity: entity } }
    %thead
      %tr
        - columns.each do |column|
          %th{ class: column[:key] == :id ? 'text-center' : '', style: column[:visible] ? 'display: table-cell;' : 'display: none;', data: { column_key: column[:key], position: column[:position] } }
            = column[:label]
        %th.static-position.text-center{ colspan: 2 }
          = render partial: '/table_settings/change_column_poistion_btn'

    %tbody#orders-list
      - if orders
        - orders.each do |order|
          = render partial: 'item', locals: { order: order, columns: columns }