.custom-toastr-block {
  color: var(--toastr-color);
  width: fit-content;
  display: flex;
  gap: 10px;
  padding: 7px 14px 7px 7px;
  border-radius: 10px;
  align-items: center;
  border: 2px solid var(--border-color);
  box-shadow: var(--shadow);
  background: #fff;
  font-weight: 700;
  .fa{
    color: #fff;
  }
}

.custom-toastr-icon{
  width: 25px; height: 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-toastr-primary .custom-toastr-icon{
  background: var(--hover-primary);
}
.custom-toastr-danger .custom-toastr-icon{
  background: var(--hover-danger);
}
.custom-toastr-warning .custom-toastr-icon{
  background: var(--hover-warnig);
}
.custom-toastr-success .custom-toastr-icon{
  background: var(--hover-success);
  min-width: 25px;
}

.custom-toastr-container {
  width: 100%;
  position: fixed;
  top: 15px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
  transition: .3s ease;
  opacity: 0;
  z-index: 1000;
  cursor: pointer;
}
.show-toastr-container {
  transform: translateY(0) !important;
  // transform: translateY(10px) !important;
  opacity: 1 !important;
  z-index: 1111;
}
.custom-toastr-block{
  // pointer-events: none;
}