.draggable {
  cursor: grab;
  user-select: none;
  user-select: none;
  transition: transform 0.25s ease-out;
  will-change: transform;
}

.dragging .draggable{
  cursor: grabbing !important;
  z-index: 2147483647;
}