#interaction-form-block{
  width: 100%;
}
#interactions-list-block {
  border-left: var(--border);
  padding-left: 10px;
}
.interactions-list-block-title{
  font-size: 16px;
  margin-bottom: 5px;
}