.table-responsive
  %table.table-position-editor{ data: { entity: entity } }
    %thead
      %tr
        - columns.each do |column|
          %th{ style: column[:visible] ? 'display: table-cell;' : 'display: none;', data: { column_key: column[:key], position: column[:position] } }
            = column[:label]
        %th.static-position

    %tbody#products-list
      - if products
        - products.each do |product|
          = render partial: 'item', locals: { product: product, columns: columns }