%tr.client-type-row{ data: { client_type_id: client_type.id } }
  %td= client_type.id
  %td= client_type.name
  %td
    = link_to client_type_path(client_type), method: :delete, class: 'text-danger', data: { confirm: tgm(:are_you_sure) }, remote: true do
      = g_icon(:delete, 'sm-g-icon')